@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "Rounded Mplus 1c";
	font-weight: normal;
}
html {
	background: #111;
}
body {
	background: #eee;
	background: url("images/wood_ptn.png");
}
	header {
		padding: 50px;
		background-color: #333;
		background-image: url("images/banner.jpg");
		background-size: cover;
		background-position: center;
		box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.3) inset;
	}
		header h1, header h3 {
			color: #fff;
			text-align: center;
			font-family: "IPAゴシック";
			font-weight: 300;
			text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		}
		header img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
			padding: 10px;
			border: 3px solid #fff;
		}
		header h1 {
			font-size: 28pt;
		}
			header h1 a {
				text-decoration: none;
				color: #fff;
			}
			header h1 a:hover {
				color: #ddd;
			}
		header h3 {
			font-size: 12pt;
		}
	main {
		width: 80%;
		margin: 0 auto;
		padding: 1em;
	}
		main * {
			padding: 0.5em 0;
		}
		main article {
			width: 100%;
			margin: 2em auto;
			padding: 2em;
			background: #fff;
		}
		main h1, main h2, main h3 {
			color: #444;
			border-bottom: 1px solid #ccc;
			font-weight: bold;
			padding: 25px 0 0.1em;
		}
		main h1:first-child {
			padding: 0 0 0.1em;
			font-size: 30pt;
		}

		main pre {
			color: #eee;
			background: #333;
			padding: 0.5em;
		}
		main ul {
			list-style-type: none;
		}
		main ul.top {
			display: flex;
			justify-content: space-around;
			align-items: stretch;
			flex-wrap: wrap;
		}
			main ul.top li {
				margin: 1em;
				padding: 1.5em;
				width: 400px;
				height: 200px;
				box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
				background: #fff;
			}
				main ul.top li a {
					text-decoration: none;
					color: #333;
					font-size: 18pt;
					font-weight: bold;
					border-bottom: 1px solid #ccc;
					display: block;
				}

	footer {
		font-size: 8pt;
		color: #eee;
		background: #111;
		padding: 1em;
		text-align: center;
	}
