<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="Keywords"  content="iOS,safari,iphone,ipad" />
    <title>{{.Title}}</title>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" />
    <link rel="stylesheet" href="{{.RootPath}}css/style.css"/>
</head>
<body>
    <header>
        <img src="{{.IconURL}}"/>
        <h1><a href="{{.RootPath}}">{{.Title}}</a></h1>
        <h3>{{.SubTitle}}</h3>
    </header>
    <main>
